@import "../custom.scss";

.items__result__container {
  cursor: pointer;
  background-color: $white;
  margin: 0px;
  padding: 16px 0px;
  border-bottom: 1px solid $light-gray;
}

.item__result__row {
  padding: 16px;
}

.item__result__title {
  font-size: 18px;
  font-weight: 400;
  color: $heavy-gray;
}

.item__result__price {
  font-size: 24px;
  font-weight: 400;
  color: $heavy-gray;
}

.item_result__image__container {
  max-width: 180px;
  height: 180px;
  margin: 0 16px;
}

.item_result__image {
  max-width: 180px;
  height: 180px;
  border-radius: 4px;
}

.item__result__data {
  .item__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
  }
  .item__price > .freeShipping {
    margin-left: 16px;
  }
  @media (max-width: 576px) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .item__price > p {
      font-size: 18px;
    }
    .item__price > .freeShipping {
      margin-left: 5px;
    }
  }
}
